@using Newtonsoft.Json
@model ApplyWebsite.Models.ApplyViewModel

<!DOCTYPE html>



<h3>Apply for post</h3>
<div>
    <br />
    Post id: @Model.Post.Id.ToString()
    <br />
    Title: @Model.Post.Title
    <br />
    <br />
    @{
        // Show sign in
        if (Model.SignedInPerson == null)
        {
            using (Html.BeginForm("SignIn", "Posts", FormMethod.Post))
            {
                @Html.Hidden("applyModel", JsonConvert.SerializeObject(Model))
                <p>
                    Please provide name and email:<br/>
                    <input type="text" name="name" id="name" placeholder="Name"/> <br/>
                    <input type="text" name="email" id="email" placeholder="Email"/><br/>
                    <input type="submit" id="SignIn" name="SignIn" value="OK" class="btn btn-default"/>
                </p>
            }
            <br/>
            @Html.ValidationMessage("ControllerError", new { style = "color: red" })
            <br/>
            <br/>
        }
        // Start interview
        else
        {
            
        }
    }


    @Html.ActionLink("Back to posts", "Index")
</div>
